body {
    margin: 0 auto;
    background: #fda4a4;
    color: #800080;
}

/* Nav */
nav {
height: 380px;
width: 250px;
position: fixed;
z-index: 5;
top: 35px;
right: -300px;
background: #da5757;
padding-top: 60px;
}

    #navWrapper {
        position: relative;
        top: 25px;
    }

    #navWrapper>a {
        display: block;
        text-decoration: none;
        padding: 8px 8px 8px 32px;
        margin: 4px 5px;
        font-size: 125%;
        line-height: 2;
        border: 1px solid #800080;
    }

    #closeBtn {
        position: absolute;
        top: 25px;
        right: 25px;
        border: hidden;
        font-size: 200%;
        width: 20px;
        height: 20px;
    }

    #openBtn {
        font-size: 125%;
        cursor: pointer;
        padding: 10px 15px;
        margin: 15px 0;
        border: none;
        height: 50px;
        position: fixed;
        right: 15px;
    }

    /* Header */
header {
    display: flex;
    width: 100%;
    height: 200px;
}

    #logo {
        padding: 25px;
        margin-top: 25px;
        border-radius: 50%;
    }

    #headerText {
        width: 100%;
        height: 100px;
        text-align: center;
        font-size: 200%;
        border: 2px solid #800080;
        margin: 50px 75px;
        padding: 20px;
    }

/* Mains */
main {
    text-align: center;
}

    /* Cat Game */
    table {
        text-align: left;
        margin: 0 auto;
	    width: 400px;
    }

        #titleRow {
            margin-top: 42px;
            margin-bottom: 21px;
        }

        .instructionsNumber {
            padding-right: 20px;
            font-size: 200%;
        }

        .instructionsText {
            padding: 10px;
        }

        .box {
            cursor: pointer;
            padding: 10px;
            width: 100px;
            height: auto;
        }

        .textButtons {
            margin: auto;
            width: 120px;
	        height: 43px;
            background-color: #eb6536;
            padding-top: 18px;
            margin-bottom: 21px;
	        cursor: pointer;
        }

        #boxRow>img {
            width: 250px;
            height: 250px;
        }

        .flex {
            display: flex;
            justify-content: center;
        }

footer {
    width: 100%;
    height: 50px;
} 

    #footerText {
        padding: 25px;
    }

